{% extends 'base.html.twig' %}



{% block body %}
    <div style="width: 400px; margin: 0 auto; top: 20px">
        <h2 style="text-align: center">Register</h2>
        {{ form_start(registerForm) }}
        {{ form(registerForm) }}
        {{ form_end(registerForm) }}
    </div>
{% endblock %}

